---
//  library imports
// import { Image } from "astro:assets";

// data imports
// import * as site from "../data/site.json";

//  layout imports
import Layout from "../layouts/Layout.astro";

//  component imports
import Err404 from "../components/404.astro";

const title = "Error 404";
const description =
  "The page you are looking for does not exist. Please check the URL or return to the home page.";
---

<Layout title={title} description={description} page="Help">
  <main>
    <Err404 title={title} description={description} />
  </main>
</Layout>

<style>
  main {
    align-items: center;
    columns: unset;
    display: grid;
    height: 100dvh;
    justify-content: center;
    margin-inline: auto;
    width: min(80ch, 100ch);
  }
</style>
