---
---

<div class="card alt featured">
    <header class="card__header">
        <img src="/assets/images/title-bar-close.png" height="28" width="28" class="control close" alt="Close">
        <div class="title">
            <h3 class="card__title">About Mack Richardson</h3>
            <img src="/assets/images/mack.png" alt="">
        </div>
        <img src="/assets/images/title-bar-expand.png" height="28" width="28" class="control expand">
        <img src="/assets/images/title-bar-collapse.png" height="28" width="28" class="control collapse">
        <a href="#" class="button">&nbsp;</a>
    </header>

    <section class="card__content">
        <article>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate dolorem, illum nobis ipsum corporis, odio quos magnam temporibus itaque et quidem. Deleniti sed et, natus dolores iusto error accusamus quibusdam.</p>
        </article>
    </section>
</div>