---
// library imports
import { Image } from "astro:assets";

// utils imports
import { slugify, formatDate } from "../js/utils";

// const { data, url } = Astro.props;
// const { title, date, author, image, description, category, tags } = data;
---

<div class="card__wrapper">
    <div class="card post">
        <header class="card__header">
            <img
                src="/assets/images/title-bar-close.png"
                height="28"
                width="28"
                class="control close"
                alt="Close"
            />
            <div class="title">
                <h3 class="card__title">Comments</h3>
                <span class="icon comments">&nbsp;</span>
            </div>
            <img
                src="/assets/images/title-bar-expand.png"
                height="28"
                width="28"
                class="control expand"
            />
            <img
                src="/assets/images/title-bar-collapse.png"
                height="28"
                width="28"
                class="control collapse"
            />
        </header>

        <section class="card__content">
            <article>
                <div id="disqus_thread"></div>
                <script>
                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                    /*
                    var disqus_config = function () {
                    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function () {
                        // DON'T EDIT BELOW THIS LINE
                        var d = document,
                            s = d.createElement("script");
                        s.src =
                            "https://mack-richardsons-blog.disqus.com/embed.js";
                        s.setAttribute("data-timestamp", new Date().toString());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript
                    >Please enable JavaScript to view the <a
                        href="https://disqus.com/?ref_noscript"
                        >comments powered by Disqus.</a
                    ></noscript
                >
            </article>
        </section>
    </div>
</div><!-- end: .card-wrapper -->

<style>
    .card__content {
        padding-bottom: 1rem;
    }
    .card__content article {
        padding: 1rem;
    }
    .post .control {
        opacity: 0;
    }
    p {
        font-size: clamp(0.75rem, 0.85rem, 0.95rem);
    }
    #disqus_thread {
        position: relative;
        z-index: inherit;
    }
</style>
