---
// data imports
import * as site from "../data/site.json";

interface Props {
  title?: string;
  description?: string;
  author?: string;
}

const { title, description } = Astro.props;
const { version } = site;
const headerTitle = "MackOS";
---

<div class="card__wrapper">
  <div class="card alt featured" id="about">
    <header class="card__header">
      <img
        src="/assets/images/title-bar-close.png"
        height="28"
        width="28"
        class="control close"
        alt="Close"
      />
      <div class="title">
        <h3 class="card__title">{headerTitle} {version}</h3>
        <span class="icon">&nbsp;</span>
      </div>
      <img
        src="/assets/images/title-bar-expand.png"
        height="28"
        width="28"
        class="control expand"
      />
      <img
        src="/assets/images/title-bar-collapse.png"
        height="28"
        width="28"
        class="control collapse"
      />
    </header>

    <section class="card__content">
      <article>
        <img
          src="/assets/images/mack.png"
          alt="Mack"
          class="avatar"
          id="mack"
        />
        <h1>{title ?? "Mack Richardson"}</h1>
        <p>{description}</p>
        <a href="/about/" class="button primary">About Mack</a>
      </article>
    </section>
  </div>
</div><!-- end: .card-wrapper -->

<style>
  .control {
    opacity: 0;
  }
  .card__content article {
    display: flow-root;
  }
  .card__content article h1 {
    font-size: 2rem;
  }
  .card__content article p {
    font-size: clamp(0.5rem, 0.75rem, 1rem);
  }
  .card__content article .avatar {
    float: left;
    height: 128px !important;
    width: 128px !important;
    shape-outside: url("/assets/images/mack.png");
    shape-margin: 1rem;
  }
</style>
