---

---

<li>
    <a
        href="https://hiremack.com"
        target="_blank"
        title="Mack Richardson Professional History">
        <img
            src="/assets/images/m-logo.png"
            class="filter-gray"
            alt="Hire Mack"
        />
        Mack Richardson's Resum&eacute;
    </a>
</li>
<li>
    <a href="#popup2" title="Richardson Family Holiday Cards">
        <img
            src="/assets/images/christmas-tree.png"
            alt="Richardson Family Holiday Cards"
        />
        Richardson Family Holiday Cards
    </a>
</li>
<li>
    <a href="https://rocketcomics.com" target="_blank" title="Rocket Comics">
        <img src="/assets/images/rocket-comics-8bit.png" alt="Rocket Comics" />
        Rocket Comics
    </a>
</li>
