---
// data imports
import * as site from "../data/site.json";

// component imports
// import Social from "./Social.astro";

const { author } = site;
const title = "Rocket Comics";
const icon = "/assets/images/rocket-comics-8bit.png";
---

<div class="card alt featured christmas">
    <header class="card__header">
        <img
            src="/assets/images/title-bar-close.png"
            height="28"
            width="28"
            class="control close"
            alt="Close"
        />
        <div class="title">
            <h3 class="card__title">{title}</h3>
            <img src={icon} alt="" />
        </div>
        <img
            src="/assets/images/title-bar-expand.png"
            height="28"
            width="28"
            class="control expand"
            alt=""
        />
        <img
            src="/assets/images/title-bar-collapse.png"
            height="28"
            width="28"
            class="control collapse"
            alt=""
        />
        <a href="#" class="button">&nbsp;</a>
        <a href="https://rocketcomics.com" class="button expand" target="_blank"
            >&nbsp;</a
        >
    </header>

    <section class="card__content">
        <iframe src="https://rocketcomics.com"></iframe>
    </section>
</div>
<style>
    img.expand {
        opacity: 1 !important;
    }
</style>
