---
// utils imports
import { slugify } from "../js/utils";

interface Props {
  title?: string;
  description?: string;
  author?: string;
  headerTitle?: string;
  category?: string;
  categorySlug?: string;
}

const { title, category } = Astro.props;
const categorySlug = slugify(category);
---

<div class="card__wrapper">
  <div class="card alt featured">
    <header class="card__header">
      <img
        src="/assets/images/title-bar-close.png"
        height="28"
        width="28"
        class="control close"
        alt="Close"
      />
      <div class="title">
        <h3 class="card__title">{category}</h3>
        <span class={`icon ${categorySlug}`}>&nbsp;</span>
      </div>
      <img
        src="/assets/images/title-bar-expand.png"
        height="28"
        width="28"
        class="control expand"
      />
      <img
        src="/assets/images/title-bar-collapse.png"
        height="28"
        width="28"
        class="control collapse"
      />
      <a href="/" class="button">&nbsp;</a>
    </header>

    <section class={`card__content ${categorySlug}`}>
      <article>
        <h1 class="title">{title ?? "Blog Articles"}</h1>
        <p>
          {title ?? "Blog Articles"}
        </p>
      </article>
    </section>
  </div>
</div><!-- end: .card-wrapper -->

<style>
  .control {
    opacity: 0;
  }
  .card {
    position: sticky;
    top: 3rem;
  }
  h1.title {
    border: none !important;
    box-shadow: none !important;
    margin: 0;
  }
  p {
    display: none;
  }
  .control.close {
    opacity: 1;
  }
  .card__wrapper {
    margin: 0 auto;
    width: 100%;
  }
  .card__header a.button {
    all: unset;
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    width: 36px;
  }
</style>
