---
// utils imports
import { slugify } from "../js/utils";

interface Props {
  title?: string;
  description?: string;
  author?: string;
  headerTitle?: string;
}

// const {  } = Astro.props;
const title = "MackDaddy Fun & Games";
const description =
  "I write about comic books, coding and everything in between.";
const classMD = "mackdaddy-fun-games";
---

<div class="card__wrapper">
  <div class="card featured" id="mackdaddy">
    <header class="card__header">
      <img
        src="/assets/images/title-bar-close.png"
        height="28"
        width="28"
        class="control close"
        alt="Close"
      />
      <div class="title">
        <h3 class="card__title">{title}</h3>
        <span class={`icon ${classMD}`}>&nbsp;</span>
      </div>
      <img
        src="/assets/images/title-bar-expand.png"
        height="28"
        width="28"
        class="control expand"
      />
      <img
        src="/assets/images/title-bar-collapse.png"
        height="28"
        width="28"
        class="control collapse"
      />
      <a href="/" class="button">&nbsp;</a>
    </header>

    <section class="card__content">
      <img
        src="/assets/images/mackdaddy-logo@3x.png"
        class="logo"
        alt="MackDaddy Fun & Games Logo"
        aria-hidden="false"
      />
    </section>
  </div>
</div><!-- end: .card-wrapper -->

<style>
  .control {
    opacity: 0;
  }
  .control.close {
    opacity: 1;
  }
  .card__header {
    border-bottom: 2px solid hsl(var(--color-dark), 1);
  }
  .card__content {
    background: hsl(357, 49%, 59%);
    background: linear-gradient(
      90deg,
      hsl(192, 48%, 55%) 0%,
      hsl(192, 48%, 55%) 25%,
      hsl(196, 57%, 43%) 25%,
      hsl(357, 49%, 59%) 26%,
      hsl(357, 49%, 59%) 26%
    );
    display: grid;
    justify-content: center;
    padding: 0 !important;
  }
  .card__content > .logo {
    height: auto;
    margin: 0 auto;
    display: block;
    width: max(50%, 80%);
  }
  .card__wrapper {
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
  .card__header a.button {
    all: unset;
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    width: 36px;
  }
</style>
