---
// utils imports
import { slugify } from "../js/utils";

interface Props {
  tags: any[];
}

const { tags } = Astro.props;
---

{
  tags && (
    <div class="tag-cloud">
      <ul class="tags">
        {tags.map((tag) => (
          <li>
            <a href={`/tags/${slugify(tag)}`} aria-hidden="true" tabindex="-1">
              <small>{tag}</small>
            </a>
          </li>
        ))}
      </ul>
    </div>
  )
}

<style>
  .tag-cloud {
    clear: both;
    display: grid;
    align-items: center;
    margin: 1.5rem 0 0 0;
    padding: 0;
  }
  .tag-cloud ul.tags {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    justify-content: start;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .tag-cloud ul.tags li {
    all: unset;
    line-height: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
  .tags a {
    background: hsl(0, 0%, 47%);
    border-radius: 24px;
    color: hsl(0, 0%, 100%) !important;
    display: inline-block;
    font-weight: bold;
    line-height: 100%;
    margin: 0;
    padding: 3px 12px 6px 12px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  .tags a {
    background: hsl(28, 91%, 54%);
  }
  .tags li:nth-child(2n) a {
    background: hsl(76, 69%, 45%);
  }
  .tags li:nth-child(3n) a {
    background: hsl(0, 71%, 56%);
  }
  .tags li:nth-child(4n) a {
    background: hsl(324, 100%, 46%);
  }
  .tags li:nth-child(5n) a {
    background: hsl(195, 100%, 44%);
  }
  .tags a:hover {
    background: hsl(0, 0%, 13%) !important;
  }
  .tags a small {
    font-size: 12px;
  }
</style>
