---
import BaseHead from "../components/BaseHead.astro";
import SiteHeader from "../components/SiteHeader.astro";
import BaseEnd from "../components/BaseEnd.astro";
import Media from "../components/Media.astro";
import About from "../components/Popup-About.astro";
import HolidayCards from "../components/Popup-HolidayCards.astro";
import CategoryList from "../components/CategoryPicker.astro";
import Privacy from "../components/Popup-Privacy.astro";
// import Snow from "../components/Snowfall.astro";

const { title, description, page, categorySlug } = Astro.props;
const url = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
	<BaseHead title={title ?? "Mack Richardson"} description={description} />
	<SiteHeader
		title={title ?? "Mack Richardson"}
		url={url}
		page={page ?? "Home"}
		description={description}
	/>

	<body class={categorySlug ?? ""}>
		<Media />
		<slot />
	</body><BaseEnd />

	<div id="popup1" class="popup">
		<About />
	</div>
	<div id="popup2" class="popup">
		<HolidayCards />
	</div>
	<div id="popup3" class="popup">
		<CategoryList />
	</div>
	<div id="popup4" class="popup">
		<Privacy />
	</div>
	<!-- <Snow /> -->
	<script
		id="dsq-count-scr"
		src="//mack-richardsons-blog.disqus.com/count.js"
		async></script>
</html>
