---
import BaseHead from "../components/BaseHead.astro";
import SiteHeader from "../components/SiteHeader.astro";
import BaseEnd from "../components/BaseEnd.astro";
import About from "../components/Popup-About.astro";
import HolidayCards from "../components/Popup-HolidayCards.astro";

const { title, page, content } = Astro.props;
---

<!doctype html>
<html lang="en">
	<BaseHead title={title ?? "Mack Richardson"} />
	<SiteHeader page={page ?? "Home"} />

	<body>
		<slot />
	</body><div id="popup1" class="popup">
		<About />
	</div>

	<div id="popup2" class="popup">
		<HolidayCards />
	</div>
	<BaseEnd />
</html>
